<?xml version="1.0" encoding="UTF-8"?>
<server>

	<!--日志所有者-->
	<owner>Pinae</owner>
	
	<!-- 引入其他Server配置文件 -->
	<import file="root.xml"/>

	<!--日志归并配置-->
	<merger>
		<!--是否启动归并:true/false-->
		<enable>false</enable>
		<!--归并处理方式 -->
		<class>org.pinae.logmesh.component.merger.RegexMerger</class> 
		<parameters>
			<!--归并规则 -->
			<parameter key="file" value="merger/merger_regex.xml"/>
			<!--归并周期 (ms)-->
			<parameter key="cycle" value="5000"/>
		</parameters>
	</merger>
	
	<!--UDP采集器配置-->
	<receiver>
		<!--采集器类型 UDP/TCP/JMS-->
		<type>udp</type>
		<!--是否启动采集器:true/false-->
		<enable>true</enable>
		<!--是否记录原始数据-->
		<original>true</original>
		<!--日志编码, 当使用TextDecodeFilter时, 需要将codec制空-->
		<codec>gb2312</codec>
		<!--TCP/UDP采集器配置参数-->
		<parameters>
			<parameter key="port" value="514"/> <!--TCP/UDP监听端口-->
			<parameter key="message" value="string"/> <!--消息格式：string-->
		</parameters>
	</receiver>
	<!--TCP采集器配置-->
	<receiver>
		<type>tcp</type>
		<enable>false</enable>
		<original>true</original>
		<codec>utf8</codec>
		<parameters>
			<parameter key="port" value="514"/>
			<parameter key="message" value="string"/>
		</parameters>
	</receiver>
	<!--JMS采集器配置-->
	<receiver>
		<type>jms</type>
		<enable>false</enable>
		<original>true</original>
		<codec>utf8</codec>
		<!--JMS采集器配置参数-->
		<parameters>
			<!--JMS地址-->
			<parameter key="url" value="tcp://localhost:61616"/>
			<!--JMS类型：queue/topic-->
			<parameter key="type" value="queue"/>
			<!--JMS队列名称-->
			<parameter key="target" value="default"/>
			<!--JMS用户名-->
			<parameter key="username" value="jms"/>
			<!--JMS密码-->
			<parameter key="password" value="jms"/>
		</parameters>
	</receiver>
	
	<!--自定义采集器配置-->
	<receiver>
		<class>org.pinae.logmesh.receiver.TextMessageLoader</class> <!--自定义采集类-->
		<enable>false</enable>
		<original>true</original>
		<!--自定义采集参数：由自定义采集类决定参数的K-V-->
		<parameters>
			<parameter key="path" value="D:\TestData\simple"/>
			<parameter key="cycle" value="5000"/>
		</parameters>
	</receiver>
	
	<!--消息计数器配置-->
	<counter>
		<parameters>
			<!--是否激活消息计数器:true/false-->
			<parameter key="enable" value="true"/> 
			<!--消息计数器技术类型：时间计数(time)/所有者计数(owner)/IP(ip)/日志类型计数(type)，多个计数采用|分割-->
			<parameter key="counter" value="time|owner|ip|type"/> 
			 <!--计数周期 (s) -->
			<parameter key="cycle" value="60"/>
		</parameters>
	</counter>
	
	<!--原始消息记录器配置-->
	<original>
		<parameters>
			<!--消息输出格式：时间(time)/所有者(owner)/IP(ip)/日志类型(type)/message(消息内容)-->
			<parameter key="msgFormat" value="$time : $ip : $message"/> 
			<!--消息存储路径-->
			<parameter key="path" value="d:\TestData\original"/>
			<!--消息文件目录格式-->
			<parameter key="dir" value="yyyy-MM-dd-HH-mm"/>
			<!--消息文件文件头-->
			<parameter key="title" value="message"/> 
			<!--消息文件格式（日期格式）-->
			<parameter key="pattern" value="yyyy-MM-dd-HH-mm"/>
			<!--消息文件扩展名-->
			<parameter key="ext" value="log"/>
			<!--消息文件编码-->
			<parameter key="encoding" value="utf8"/>
			<!--消息文件写入周期 (ms)-->
			<parameter key="cycle" value="5000"/> 
			<!--是否启用消息压缩，当启用消息压缩时，旧的压缩文件会被压缩为zip格式-->
			<parameter key="zip" value="true"/>
		</parameters>
	</original>
	
	<!--消息过滤器配置-->
	<!--
		目前包括的过滤器包括：
		 * IP过滤器 : org.pinae.logmesh.component.filter.IPFilter
		 * 文本解码过滤器 : org.pinae.logmesh.component.filter.TextDecodeFilter
		 * 关键字过滤器 : org.pinae.logmesh.component.filter.KeywordFilter
		 * 正则表达式过滤器 : org.pinae.logmesh.component.filter.RegexFilter
		 * 分类过滤器 : org.pinae.logmesh.component.filter.ClassifyFilter
	-->
	<filter>
		<!--过滤器启动顺序-->
		<startup>1</startup>
		<!--过滤器名称-->
		<name>IPFilter</name>
		<!--是否启用该过滤器:true/false-->
		<enable>true</enable>
		<!--过滤器类-->
		<class>org.pinae.logmesh.component.filter.IPFilter</class> 
		<parameters>
			<!--过滤配置文件-->
			<parameter key="file" value="filter/ip_filter.xml"/>
			<!--匹配拦截：false；匹配通过：true-->
			<parameter key="pass" value="true"/>
		</parameters>
	</filter>
	<filter>
		<startup>2</startup>
		<name>TextDecodeFilter</name>
		<enable>true</enable>
		<class>org.pinae.logmesh.component.filter.TextDecodeFilter</class>
		<parameters>
			<parameter key="file" value="filter/text_decode_filter.xml"/>
		</parameters>
	</filter>
	<filter>
		<startup>3</startup>
		<name>KeywordFilter</name>
		<enable>true</enable>
		<class>org.pinae.logmesh.component.filter.KeywordFilter</class>
		<parameters>
			<parameter key="file" value="filter/keyword_filter.xml"/>
			<parameter key="pass" value="true"/>
		</parameters>
	</filter>
	<filter>
		<startup>4</startup>
		<name>RegexFilter</name>
		<enable>true</enable>
		<class>org.pinae.logmesh.component.filter.RegexFilter</class>
		<parameters>
			<parameter key="file" value="filter/regex_filter.xml"/>
			<parameter key="pass" value="true"/>
		</parameters>
	</filter>
	<filter>
		<startup>5</startup>
		<name>ClassifyFilter</name>
		<enable>true</enable>
		<class>org.pinae.logmesh.component.filter.ClassifyFilter</class>
		<parameters>
			<parameter key="file" value="filter/classify_filter.xml"/>
		</parameters>
	</filter>
	
	<!--消息路由配置-->
	<!--目前包括的路由器包括：IP路由器/正则路由器-->
	<router>
		<!--路由器名称-->
		<name>IPRoute</name>
		<!--是否启用该路由器:true/false-->
		<enable>true</enable>
		<!--路由器类-->
		<class>org.pinae.logmesh.component.router.IPRouter</class>
		<parameters>
			<!--路由配置文件-->
			<parameter key="file" value="router/ip_router.xml"/>
		</parameters>
	</router>
	<router>
		<!--路由器名称-->
		<name>RegexRoute</name>
		<!--是否启用该路由器:true/false-->
		<enable>true</enable>
		<!--路由器类-->
		<class>org.pinae.logmesh.component.router.RegexRouter</class>
		<parameters>
			<!--路由配置文件-->
			<parameter key="file" value="router/regex_router.xml"/>
		</parameters>
	</router>
	
	<!--自定义消息处理配置-->
	<processor>
		<!--处理器名称-->
		<name>SystemOutProcessor</name>
		<!--是否启动处理器:true/false-->
		<enable>true</enable>
		<!--处理器类-->
		<class>org.pinae.logmesh.component.custom.SystemOutProcessor</class>
		<!--处理器参数，由处理器自行决定-->
		<parameters>
			<parameter key="title" value="message"/>
		</parameters>
	</processor>
	
	<!--窗口消息输出器配置-->
	<output>
		<!--输出器名称-->
		<name>window</name>
		<!--是否启动输出器:true/false-->
		<enable>true</enable>
		<!--输出器类:窗口输出器-->
		<class>org.pinae.logmesh.output.WindowOutputor</class>
		<parameters>
			<!--窗口标题-->
			<parameter key="title" value="logmesh --- Free Log Collector"/>
			<!--窗口初始宽度-->
			<parameter key="width" value="900"/>
			<!--窗口初始高度-->
			<parameter key="height" value="600"/>
			<!--窗口初始列数-->
			<parameter key="columns" value="80"/>
			<!--窗口初始行数-->
			<parameter key="rows" value="100"/>
			<!--窗口背景色-->
			<parameter key="background" value="#000000"/>
			<!--窗口文字颜色-->
			<parameter key="foreground" value="#00ff00"/>
		</parameters>
	</output>
	
	<!--转发消息输出器配置-->
	<output>
		<!--输出器名称-->
		<name>forward</name>
		<!--是否启动输出器:true/false-->
		<enable>false</enable>
		<!--输出器类:转发输出器-->
		<class>org.pinae.logmesh.output.ForwardOutputor</class>
		<parameters>
			<!--输出协议：udp/tcp/jms-->
			<parameter key="protocol" value="udp"/>
			<!--转发目标地址，如果输出协议为jms，格式为：url:user:password:type:target-->
			<parameter key="destination" value="192.168.0.104"/>
			<!--转发目标端口-->
			<parameter key="port" value="514"/>
		</parameters>
	</output>
	
</server>